<div id="<%= dom_id publication %>">
  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Departament:</strong>
    <%= publication.departament_id %>
  </p>

</div>
