<p class="text-success"><%= notice %></p>

<h1>Clientes</h1>
<%= link_to "Nuevo cliente", new_client_path, class: "btn btn-dark" %>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to "ir al cliente", client, class: "btn btn-dark" %>
    </p>
  <% end %>
</div>

