<p class="text-success"><%= notice %></p>

<h1>Edificios</h1>
<%= link_to "Nuevo edificio", new_building_path, class: "btn btn-dark" %>
<div id="buildings">
  <% @buildings.each do |building| %>
    <%= render building %>
    <p>
      <%= link_to "Mostrar el edificio", building, class: "btn btn-dark" %>
    </p>
  <% end %>
</div>

